In [2]:
# for loop: iteration over the sequential object
# number of elements in a sequential data decide number of repeatition  
for i in range(1, 10, 4):  # start 2, stop=10, step=1
    print(i, end=' ')

1 5 9

In [4]:
# natural sum 
num = 3
s = 0
for i in range(1, num+1):
    s = s + i
print(f'Natural sum is {s}')

Natural sum is 6

In [10]:
# factorial of number 
num = 3
f = 1
for i in range(1, num+1):
    f = f * i
print(f'Factorial of given number {num} is {f}')

Factorial of given number 3 is 6

In [18]:
"""
1   2   3   4   5   6   7   8   9   10
2   4   6...
.
.
.
"""
for num in range(1, 11):
    for m in range(1, 11):
        print(num * m, end='\t')
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [14]:
print(3, end='\t')
print(4, end='\n')

3	4