In [7]:
# tuple(): collection of fixed length object
# tuple initialization 
t = ()
# t = tuple()

print(t)  # Output ()  # empty tuple 


t = 33,
t =  (3.54,)  # tuple with single item/element
t = 3, 5, 7 

print(t, type(t))

(3.54, 43) <class 'tuple'>

In [10]:
# tuple is immutable 

t = (3, 5, 7, 'hello')

k = t[0]  # indexing
k2 = t[100:400]  # slicing range
print(k2)

()

In [12]:
# 
t = (3, 5, 6, 'hello')
# t[0] = 'hi'  # item assignment 
del t[-1]

print(t)

TypeError: 'tuple' object doesn't support item deletion

In [6]:
a = 'hello'
b = 34
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

In [10]:
# list in a tuple 
t = (3, [4, 6], [], (4, 11, 34))
print(id(t[1]))
t[1].clear()
print(id(t[1]))

print(t)

1824279357312
1824279357312
(3, [], [], (4, 11, 34))

In [13]:
# tuple in a list
ls = [2, 54, 6, (), [4, 6, 8]]
ls[-1].clear()
print(ls)


t = (100, 434)
t = 10
print(t)


"""
Aman : 8355070637 
Vihiti club """

[2, 54, 6, (), []]

In [4]:
# tuple initialization 
# with tuple format
st = (100, 434, 5, 4, 5)
print(st, type(st))

(100, 434, 5, 4, 5) <class 'tuple'>

In [15]:
# unpack values 
a = 32, 5, 4, 54
print(a, type(a))

h <class 'str'>

In [18]:
# initialize the tuple with single item 
# st = (27,)
st = 27,
print(st, type(st))

(27,) <class 'tuple'>

In [22]:
# empty tuple 
# st = ()
st = tuple()
print(st, type(st))

() <class 'tuple'>

In [23]:
# student info in a tuple 
info = ('amit', 33, 'GLA University')
print(info)

('amit', 33, 'GLA University')

In [27]:
# how to  access the elements in a tuple
t = (3, 100, 3, 4, 'hello')
# indexing 
print(t[-1])

# slicing 
print(t[2:3])

hello
(3,)

In [33]:
# method in tuple 
# 1. count(): return frequency of the element
# 2. index(): return the index of the element(frist occuraance)

t = (3, 4, 5, 3)
# out = t.count(30)
out = t.index(3)
print(out)

3

In [46]:
t = (3, 5, [4, 5], (4, 6, 55))
t = list(t)
t.pop(2)
t = tuple(t)
print(t)

(3, 5, (4, 6, 55))

In [ ]:
t = [33, (54, 5)]
t[-1] = 0

print(t)

In [45]:
id(t[3])

2023896583616